/* NavBar*/

nav {
    position: sticky;
    top: 0px;
    left: 0px;
    display: flex;
    background-color: rgb(7, 90, 90);
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
  }
  
  nav h1 {
    color: var(--primary-color);
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    color: aliceblue;
  }
  
  .menu-burguer {
    display: none;
  }
  
  label {
    cursor: pointer;
  }
  
  /*MEDIA QUERY PARA QUE EL BLOQUE DE CODIGO CSS SEA RESPONSIVE*/
@media screen and (max-width: 720px) {
    .menu-burguer {
      display: block;
    }
  
    nav ul {
      position: fixed;
      flex-direction: column;
      top: 86px;
      width: 90%;
      background-color: var(--bg-color);
    }
  }
 /*logo*/
.navbar-logo{
  display: inline-block;
  vertical-align: middle;
  width: 95px;
} 
button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #3498db; /* Puedes cambiar el color según tus preferencias */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 15px;
}
.banners-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
}
 